[submodule "docs"]
	path = docs
	url = git@github.com:pdbartlett/docs.git
[submodule "camsoc"]
	path = camsoc
	url = git@github.com:pdbartlett/camsoc.git
[submodule "misc-stuff"]
	path = misc-stuff
	url = git@github.com:pdbartlett/misc-stuff.git
